.cats__form {
  padding: 20px 0;
}
.oleg-form {
  .form-item {
    display: flex;
    align-items: center;
    .control-label {
      width: 15%;
      margin-right: 15px;
    }
    .form-text,
    .form-email,
    .form-file {
      width: auto;
    }
  }
  .form-submit {
    width: 100px;
    text-transform: uppercase;
  }
  .form__submit-result {
    padding: 20px 0;
    font-size: 20px;
  }
  .result-valid {
    color: green;
  }
  .result-invalid {
    color: red;
  }
}